<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA2PClpFAAxcePIVPGMP1ukEVR6d1XPlNM</string>
	<key>GCM_SENDER_ID</key>
	<string>540179202432</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lyd.locateYourDentist</string>
	<key>PROJECT_ID</key>
	<string>locate-your-dentist</string>
	<key>STORAGE_BUCKET</key>
	<string>locate-your-dentist.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:540179202432:ios:b587e52f416ba1ae3b8165</string>
</dict>
</plist>